$black : #0f151a;
$dark-gray : #253140;
$gray : #5d6978;
$white : #fff;
$light-blue : #49d6f2;
$blue : #36bed9;
$dark-blue : #1da4bf;
$red : #f23d18 ;
$light-green : #7eb336;
$green : #599900;
$light-grey : #acb5bd;
$grey : #f2f4f6;
